<table
  class="drop-list"
  cdkDropList
  [class.item-dragging]="dragging"
  (cdkDropListDropped)="droppedIntoList($event)"
>
  <tr
    *ngFor="let item of items; let index = index"
    class="item"
    [class.selected]="isSelected(index)"
    cdkDrag
    (cdkDragStarted)="dragStarted($event, index)"
    (cdkDragEnded)="dragEnded()"
    (click)="select($event, index)"
    [cdkDragDisabled]="type === 'destination'"
  >
    <ng-container  *ngIf="!dragging || !isSelected(index)">
      <ng-container
        *ngTemplateOutlet="templateRef; context: { $implicit: item, item: item, index: index }"
      ></ng-container>
      <div *cdkDragPreview>
        <div class="select-item-drag-preview float-left">
          {{ selections.length || 1 }}
        </div>
        <ng-container
          *ngTemplateOutlet="templateRef; context: { $implicit: item, item: item, index: index }"
        ></ng-container>
      </div>
    </ng-container>
  </tr>
</table>